
.tictac{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    text-align: center;
}
.papa{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;

}
.mainbox {
   display: flex;
   flex-wrap: wrap;
   width: 300px;
   height: 300px;

}

.sqrs {
    width: 30%;
    height: 100px;
    border: 1px solid;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}